#hot{
    background: rgba(245, 222, 179, 0);
}
#co{

    background: #f5f5f5;
}
.well {
    background: white;
}

.navbar-header{
    background: rgba(252, 248, 227, 0);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(252, 248, 227, 0);
}
